In [1]:
import pandas as pd

In [2]:
# data downloaded from https://www.ncdc.noaa.gov/cag/divisional/mapping/110/tavg/202010/ytd/value
weather_data = pd.read_csv('../data/noaa_weather_data.csv')

In [3]:
weather_data.head()

,Location ID,Location,Date,Value,Rank,Anomaly (1901-2000 base period),1901-2000 Mean
0,101,Alabama CD 1. Northern Valley,189501,37.7,36,-2.4,40.1
1,101,Alabama CD 1. Northern Valley,189502,32.8,3,-10.3,43.1
2,101,Alabama CD 1. Northern Valley,189503,50.3,53,-0.6,50.9
3,101,Alabama CD 1. Northern Valley,189504,61.2,88,1.4,59.8
4,101,Alabama CD 1. Northern Valley,189505,66.8,42,-1.2,68.0

In [4]:
weather_data.shape

(523568, 7)

In [5]:
weather_data.loc[:,'Month'] = weather_data['Date'].astype(int).astype(str).str[4:6].astype(int)
weather_data.loc[:,'Year']  = weather_data['Date'].astype(int).astype(str).str[0:4].astype(int)
weather_data['State'] = weather_data['Location'].str.split(' ', n=1, expand=True).loc[:,0]

In [6]:
weather_data.head()

,Location ID,Location,Date,Value,Rank,Anomaly (1901-2000 base period),1901-2000 Mean,Month,Year,State
0,101,Alabama CD 1. Northern Valley,189501,37.7,36,-2.4,40.1,1,1895,Alabama
1,101,Alabama CD 1. Northern Valley,189502,32.8,3,-10.3,43.1,2,1895,Alabama
2,101,Alabama CD 1. Northern Valley,189503,50.3,53,-0.6,50.9,3,1895,Alabama
3,101,Alabama CD 1. Northern Valley,189504,61.2,88,1.4,59.8,4,1895,Alabama
4,101,Alabama CD 1. Northern Valley,189505,66.8,42,-1.2,68.0,5,1895,Alabama

In [7]:
recent_weather = weather_data[weather_data['Year']>=2020]
recent_weather['Date'].unique()

array([202001, 202002, 202003, 202004, 202005, 202006, 202007, 202008,
       202009, 202010, 202011, 202012, 202101, 202102, 202103, 202104,
       202105, 202106, 202107, 202108, 202109, 202110])

In [8]:
#sanity check temperature values (in F)
recent_weather[recent_weather['Location'].str.contains('California')].head(12)

,Location ID,Location,Date,Value,Rank,Anomaly (1901-2000 base period),1901-2000 Mean,Month,Year,State
38028,401,California CD 1. North Coast Drainage,202001,41.6,100,2.6,39.0,1,2020,California
38029,401,California CD 1. North Coast Drainage,202002,45.2,116,3.6,41.6,2,2020,California
38030,401,California CD 1. North Coast Drainage,202003,43.9,61,-0.2,44.1,3,2020,California
38031,401,California CD 1. North Coast Drainage,202004,52.1,119,4.0,48.1,4,2020,California
38032,401,California CD 1. North Coast Drainage,202005,56.4,103,2.6,53.8,5,2020,California
38033,401,California CD 1. North Coast Drainage,202006,62.8,108,2.6,60.2,6,2020,California
38034,401,California CD 1. North Coast Drainage,202007,69.0,106,2.3,66.7,7,2020,California
38035,401,California CD 1. North Coast Drainage,202008,71.4,126,5.0,66.4,8,2020,California
38036,401,California CD 1. North Coast Drainage,202009,67.5,127,5.1,62.4,9,2020,California
38037,401,California CD 1. North Coast Drainage,202010,60.6,127,6.4,54.2,10,2020,California
38038,401,California CD 1. North Coast Drainage,202011,45.3,72,0.4,44.9,11,2020,California
38039,401,California CD 1. North Coast Drainage,202012,41.6,99,2.0,39.6,12,2020,California

In [9]:
monthly_avgs_by_state = weather_data[(weather_data['Year'] >= 2000) & (weather_data['Year'] < 2020) ].groupby(['State','Month']).mean()['Value'].reset_index()
monthly_avgs_by_state.head()

     State  Month      Value
0  Alabama      1  44.468750
1  Alabama      2  48.623750
2  Alabama      3  55.858750
3  Alabama      4  63.096875
4  Alabama      5  71.006875

In [10]:
recent_monthly_avgs = recent_weather.groupby(['State','Year','Month']).mean()['Value'].reset_index()
recent_monthly_avgs.head()

     State  Year  Month    Value
0  Alabama  2020      1  49.2250
1  Alabama  2020      2  50.4875
2  Alabama  2020      3  62.8875
3  Alabama  2020      4  61.5500
4  Alabama  2020      5  68.5625

In [11]:
#sanity check again
recent_monthly_avgs[recent_monthly_avgs['State']=='California']

         State  Year  Month      Value
66  California  2020      1  44.400000
67  California  2020      2  47.842857
68  California  2020      3  46.457143
69  California  2020      4  54.628571
70  California  2020      5  61.928571
71  California  2020      6  67.485714
72  California  2020      7  73.385714
73  California  2020      8  75.914286
74  California  2020      9  71.500000
75  California  2020     10  64.300000
76  California  2020     11  49.385714
77  California  2020     12  44.514286
78  California  2021      1  44.542857
79  California  2021      2  45.842857
80  California  2021      3  46.571429
81  California  2021      4  55.800000
82  California  2021      5  61.757143
83  California  2021      6  71.771429
84  California  2021      7  76.828571
85  California  2021      8  74.071429
86  California  2021      9  69.500000
87  California  2021     10  56.457143

In [12]:
monthly_avgs_by_state.to_csv('../data/historical_monthly_temp_avgs_by_state.csv')

In [13]:
recent_monthly_avgs.to_csv('../data/monthly_temps_by_state.csv')